<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titolo</title>
    <!-- Includi i tuoi file CSS qui -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-BT/KmQ4orDjiyrrgIcnDBRvZo+2a2lCgjIulJm/gFjFydu7J+7/t1sz7A+Hk5Hzv" crossorigin="anonymous">
</head>
<body class="catalogobody">

<!-- Sezione Logo -->
<div class="logo">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <button class="openbtn bottom-sx" onclick="openNav()"><i class="fas fa-search"></i> Cerca</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavbar"
            aria-controls="menuNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuNavbar">
        <img src="image/minilogo.png" alt="Logo" class="img-fluid imgzi" onclick="goToHomePage()" style="cursor: pointer;"/>
    </div>
        <ul class="navbar-nav ml-auto bottom">
            <li class="nav-item attivo">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/riservatautente}">Il Mio Profilo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/carrello}" id="carrelloDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-shopping-cart"></i> Carrello
                </a>
                <div class="dropdown-menu" aria-labelledby="carrelloDropdown">
                    <h4 th:if="${carrello == null}">Carrello vuoto</h4>
                    <table th:if="${carrello != null}">
                        <tr th:each="playset : ${carrello}">
                            <td th:text="${playset.nome}"></td>
                            <td th:text="${playset.prezzo} +' €'"></td>
                            <td>
                                <a th:href="@{/riservatautente/rimuovi(id=${playset.id})}">
                                    Rimuovi Playset
                                </a>
                            </td>
                        </tr>
                    </table>
                    <h5 th:if="${carrello != null}" th:text="'Totale Carrello: ' + ${#numbers.formatDecimal(totale, 0, 'POINT', 2, 'COMMA')} +' €'"></h5>
                    <a th:if="${send}" th:href="@{/confermapagamento}">
                        <button class="paypal-button">
                            <img th:src="@{'image/paypal' + '.png'}" class="img-fluid" alt="Vai al pagamento">
                        </button>
                    </a>
                    <br>
                    <a th:if="${carrello != null}" th:href="@{/riservatautente/invia}">Conferma Ordine</a>
                    <p th:if="${send}">Vai al pagamento</p>
                    <!-- Contenuto del carrello qui -->
                    <!-- Puoi usare JavaScript per caricare dinamicamente il contenuto del carrello -->
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Sidebar -->
<div id="mySidebar" class="sidebar ">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div class="form-group  sideimpl">
        <h2>Ricerca Prodotti</h2>
        <form action="/catalogo" method="post" enctype="multipart/form-data">
            <label>Filtra per  Set:</label><br>
            <div th:each="brand : ${brands}">
                <label for="eta_null" th:text="${brand.nome}"></option>>Null</label>
                <input th:checked="${nome== brand.nome} " type="checkbox" id="eta_null" name="nome" th:value="${brand.nome}">
                <br>
            </div>
            <label>Filtra per Età:   </label><br>
            <label for="eta_1">-->  4</label>
            <input th:checked="${eta == '4'}" type="checkbox" id="eta_1" name="eta" value="4">
            <br>
            <label for="eta_9">-->  9</label>
            <input th:checked="${eta == '9'}"type="checkbox" id="eta_9" name="eta" value="9">
            <br>
            <label for="eta_10">-->  10</label>
            <input th:checked="${eta == '10'}"type="checkbox" id="eta_10" name="eta" value="10">
            <br>
            <label for="eta_16">--> 16</label>
            <input th:checked="${eta == '16'}"type="checkbox" id="eta_16" name="eta" value="16">
            <br>
            <label for="eta_18">--> 18</label>
            <input th:checked="${eta == '18'}"type="checkbox" id="eta_18" name="eta" value="18">
            <br>
            <label>Filtra per Prezzo: </label><br>
            <label>--> 10€</label>
            <input  th:checked="${prezzo == '10.0'}" type="checkbox" id="eta_1" name="prezzo" value="10" >
            <br>
            <label>--> 50€</label>
            <input  th:checked="${prezzo == '50.0'}" type="checkbox" id="eta_1" name="prezzo" value="50">
            <br>
            <label>--> 100€</label>
            <input th:checked="${prezzo == '100.0'}" type="checkbox" id="eta_1" name="prezzo" value="100">
            <br>
            <label>--> 200€</label>
            <input th:checked="${prezzo == '200.0'}" type="checkbox" id="eta_1" name="prezzo" value="200">
            <br>
            <label>--> 300€</label>
            <input th:checked="${prezzo == '300'}" type="checkbox" id="eta_1" name="prezzo" value="300">
            <br>


            <button type="submit">Cerca</button>
        </form>
        <!-- Aggiungi altre checkbox per ulteriori filtri -->
    </div>
</div>
<br>
<!-- Sezione Prodotti in Evidenza -->
<section class="container-fluid home-section ">
    <div class="container justify-content-center  margine-top-9 margine-left-12"> <!-- Modifica della classe container in container-fluid -->
        <h2 class="text-center margine-bottom-3 ">Catalogo Prodotti</h2>
        <h5 th:if="${nome!= null || prezzo!=null || eta!=null }">Filtri Attivi: </h5>
        <p th:if="${nome!= null}" th:text="${'Brand : ' + nome}"> </p>
        <p th:if="${prezzo!=null}" th:text="${'Prezzo inferiore a ' + prezzo +'€' }"> </p>
        <p th:if="${eta!= null}" th:text="${'Età : ' + eta +'+'}"> </p>
        <br>
        <p th:if="${playsets.isEmpty()}"> LA RICERCA NON HA PRODOTTO RISULTATI :(</p>
        <img th:if="${playsets.isEmpty()}" src="/image/Error.png" class="img-error">
        <div class="row">
            <!-- Prima Card -->
            <div th:each="playset:${playsets}" class="col-md-4">
                <div class="card custom-card">
                    <!-- Modifica qui aggiungendo l'evento onclick sull'immagine -->
                    <div class="image-container" th:onclick="'window.location.href=\'/dettaglio?id=' + ${playset.id} + '\''">
                        <img th:src="@{'image/playset_' + ${playset.id} + '_a.jpg'}" class="card-img-top"
                             alt="Immagine Prodotto">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 th:text="${playset.nome}" class="card-title">Prodotto 1</h5>
                        <p th:text="${playset.eta}" class="card-text">Descrizione del Prodotto 1.</p>
                        <p th:text="${playset.prezzo + ' €'}" class="card-text">$19.99</p>
                        <div class="mt-auto"> <!-- Utilizza mt-auto per spingere il contenuto in basso -->
                            <!-- Rimuovi il pulsante Dettagli -->
                            <a th:href="@{/dettaglio/aggiungi(id=${playset.id})}" class="btn btn-success" onclick="aggiungiAlCarrello()">Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Altre Cards... -->
        </div> <!-- Chiude la classe "row" -->
    </div>
    <footer class="sfondo-chiaro text-center py-3">
        <p>&copy; 2024 Il Mio Negozio E-Commerce</p>
    </footer>
</section>

<!-- Footer -->


<!-- Includi i tuoi file JavaScript qui -->
<script th:src="@{js/script.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
